dash==3.1.1
dash_slicer==0.3.1
imageio==2.37.0
kagglehub==0.3.13
matplotlib==3.10.5
monai==1.5.0
natsort==8.4.0
numpy==2.3.2
pandas==2.3.2
Pillow==11.3.0
plotly==6.2.0
PyYAML==6.0.2
PyYAML==6.0.2
rich==14.1.0
SciencePlots==2.1.1
scikit_learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
setuptools==80.1.0
torch==2.7.1
torchattacks==3.5.1
torchsummary==1.5.1
torchvision==0.22.1
tqdm==4.67.1
wandb==0.21.1
